/* VARIABLES */
:root {
  --red: hsl(4, 100%, 67%);
  --dark-blue: hsl(234, 29%, 20%);
  --lighter-blue: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
}
/* FONTS FAMILY */
@font-face {
  /* Weights: 400, 700 */
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
}
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BASIC */
body {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: normal;
  width: 100%;
  min-height: 100vh;
  color: var(--dark-blue);
}
main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--white);
}
.img-section {
  display: flex;
  justify-content: center;
}
.info-section {
  padding: 1em 1.5em;
}
.info-header {
  margin-bottom: 0.5em;
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 2.5em;
}
.info-description {
  margin-bottom: 1.5em;
}
.info-advantages-list {
  margin-bottom: 2em;
}
.info-advantages-list li {
  list-style-type: none;
  position: relative;
  padding-left: 2em;
  margin-bottom: 1em;
}
.info-advantages-list li::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/images/icon-list.svg");
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
}
.label-and-error-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form label {
  color: var(--dark-blue);
  margin-bottom: 0.5em;
  font-size: 0.75em;
  font-weight: 700;
  display: block;
}
.error-message {
  display: block;
  color: var(--red);
  margin-bottom: 0.5em;
  font-size: 0.75em;
  font-weight: 700;
}
form input[type="email"] {
  padding: 1em 1.5em;
  border-radius: 0.5em;
  border: none;
  border: 1px solid var(--grey);
  margin-bottom: 1.5em;
}
form input[type="email"]:focus {
  outline: 1px solid var(--dark-blue);
  outline-offset: 2px;
}
form input[type="email"]::placeholder {
  color: var(--grey);
}

.error {
  border: 1px solid var(--red);
  background-color: rgba(230, 80, 80, 0.2);
}
.without-error {
  border: 1px solid green;
  background-color: rgba(80, 230, 105, 0.2);
}
.subscribe-btn:hover {
  background: linear-gradient(to right, var(--red), var(--red), orange);
  border-color: transparent;
  cursor: pointer;
}
.btn {
  background-color: var(--dark-blue);
  padding: 1em;
  border-radius: 0.5em;
  color: var(--white);
  font-family: 700;
}

.success-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: 100vh;
  padding: 1em;
}
.success-section img {
  margin-bottom: 2em;
}
.success-header {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.success-description {
  margin-bottom: 2em;
}
.success-accent {
  font-weight: 700;
}
.dismiss-message-btn {
  justify-self: end;
  width: 100%;
}
.subscribe-btn:disabled {
  background-color: grey;
}
.subscribe-btn:disabled:hover {
  background: gray;
  cursor: not-allowed;
}

/* TABLET */
@media screen and (min-width: 550px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: var(--lighter-blue);
  }
  main {
    max-width: 600px;
    padding: 1.5em;
    margin: 2em;
    background-color: var(--white);
    border-radius: 1.5em;
  }
  .success-section {
    width: 400px;
    height: fit-content;
  }
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr;
    flex-direction: unset;

    gap: 2em;
    max-width: 1000px;
  }
  .img-section {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .info-section {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hide {
  display: none;
}
